# VSCode
.vscode/
*.code-workspace

# C++
*.o
*.a
*.so
*.dylib
*.dll
*.exe
build/
dist/
*.out
*.app
cmake_build/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
*.egg-info/
dist/
build/

# Results
*.hdf5
*.pdf
python/figures/
python/results/

# General
.DS_Store
.env
.idea/
*.swp
*.swo
*~

.clang-format